.akb{
    width: 300px;
    height: 150px;
    border: 3px solid black;
    margin-top: 100px;
    margin-left: 300px;

    &::after{
        content:'';
        height: 75px;
        width: 20px;
        border: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transform: translateX(301px) translateY(-115px);
        
    }

    &::before{
        content: '';
        height: 150px;
        width: 150px;
        background: green;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;

    }

}    

    .akb:hover{
        &::before{
            width: 100%;
            background: green;
        }
    }


body{
    margin: 0;
}

.clip{
    height: 500px;
    width: 70%;
    border: 3px solid black;
    margin-top: 200px;

    &__items{
        height: 70px;
        width: 300px;
        border: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        display: inline-block;
        margin-top: 60px;
        //clip-path: polygon(0 0,10% 10%, 0 0);
    }
}